@model POlimpicos.Models.Usuario


<h2>Cadastrar Usuário (teste livre)</h2>


@if (ViewBag.Erro != null)

{

    <div style="color:red">@ViewBag.Erro</div>

}

@if (ViewBag.Sucesso != null)

{

    <div style="color:green">@ViewBag.Sucesso</div>

}


<form asp-action="NovoUsuario" method="post">

    <div>

        <label>Usuário:</label>

        <input asp-for="Username" />

    </div>

    <div>

        <label>Senha:</label>

        <input asp-for="Password" type="password" />

    </div>

    <div>

        <label>Papel:</label>

        <select asp-for="Role">

            <option value="Admin">Admin</option>

            <option value="Gerente">Gerente</option>

            <option value="Leitor">Leitor</option>

        </select>

    </div>

    <button type="submit">Salvar</button>

</form>